# ======================
# System
# ======================
.DS_Store

# ======================
# IDE's Blocking
# ======================
.idea/
.vscode/

# ======================
# Node
# ======================
node_modules/

